<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>S</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Music</b>Store</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="/" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
        <a href="${pageContext.request.contextPath}/cart/cartList" class="dropdown-toggle">
    		    <span class="hidden-xs">Cart (0)</span>
    		</a>
    		</li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs" *ngIf="token == null">Account Managenent</span>
              <span class="hidden-xs" *ngIf="token != null">{{username}}</span>
              <!--
			           <c:if test="${pageContext.request.userPrincipal.name != null}">

                  <span class="hidden-xs">${pageContext.request.userPrincipal.name}</span>
                 </c:if>

    			  <c:if test="${pageContext.request.userPrincipal.name == null}">
    			   <span class="hidden-xs">Account Managenent</span>
    			  </c:if>
            -->
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p>
                 Guest
                </p>
                <!--
				<c:if test="${pageContext.request.userPrincipal.name != null}">

			  <p>
                  ${pageContext.request.userPrincipal.name}
                  <small>Member of Music Store</small>
                </p>
			  </c:if>
			  <c:if test="${pageContext.request.userPrincipal.name == null}">

			  <p>
                 Guest
                </p>
			  </c:if>
      -->
              </li>
              <li class="user-footer" *ngIf="token == null">
        			  <div class="pull-left">
                  <a href="/register" class="btn btn-default btn-flat">Register</a>
                </div>
                <div class="pull-right">
                  <a href="/login" class="btn btn-default btn-flat">Log In</a>
                </div>
              </li>

              <li class="user-footer" *ngIf="token != null">
                <div class="pull-left">
                  <a href="/accountInfo" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a (click)="logout()"  class="btn btn-default btn-flat">Log Out</a>
                </div>
              </li>

            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

   <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-filter"></i> <span>Genres</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <!--
            <ul class="treeview-menu">
            	<c:forEach items="${ genreList }" var="genre">
            		<li><a href="${pageContext.request.contextPath}/album/genre?id=${genre.genreID}"><i class="fa fa-circle-o"></i>${genre.name}</a></li>
          	</c:forEach>
            </ul>
          -->
          </li>

  		     	<li class="treeview" *ngIf="token != null">
  		   			<a href="#">
  		            <i class="fa fa-shopping-basket"></i> <span>Manage</span>
  		            <span class="pull-right-container">
  		              <i class="fa fa-angle-left pull-right"></i>
  		            </span>
  		          </a>
  		          <ul class="treeview-menu">
  		          	<li><a href="/album"><i class="fa fa-circle-o"></i>Albums</a></li>
  		          	<li><a href="/genre/add"><i class="fa fa-circle-o"></i>Add new genre</a></li>
  		          	<li><a href="/artist/add"><i class="fa fa-circle-o"></i>Add new artist</a></li>
  		          </ul>
  		        </li>

<!--
  		     <li class="treeview">
  		          <a href="${pageContext.request.contextPath}/order/orderHistory">
  		            <i class="fa fa-history"></i> <span>Order History</span>
  		            <span class="pull-right-container">
  		              <i class="fa fa-angle-left pull-right"></i>
  		            </span>
  		          </a>

  		        </li>
-->
        </ul>
      </section>
      <!-- /.sidebar -->
   </aside>
   <router-outlet></router-outlet>
   <footer class="main-footer">
   <div class="pull-right hidden-xs">
     <b>Version</b> 2.3.12
   </div>
   <strong>Copyright &copy; 2017 <a href="https://www.facebook.com/PigMy.TraMy.116">Pig My 9 (Dinh Le Tra My)</a>.</strong> All rights
   reserved.
 </footer>
