
<div class="content-wrapper" *ngIf="token">
	<a href="/addalbum" class="btn btn-primary pull-left btn-add" role="button" name="Add">Add new album</a>
	<table id="example2" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Action</th>
				<th>Title</th>
				<th>Artist</th>
				<th>Genre</th>
			</tr>
		</thead>
		<tbody *ngFor="let album of albumList">
				<tr>
					<td>
						<a href="/editalbum/{{ album.id }}">
			            	<i class="fa fa-edit"></i>
			          	</a>
			          	<a  (click)="deleteAlbum(album.id)" >
			            	<i class="fa fa-trash"></i>
			          	</a>
					</td>
					<td>
					<span>{{ album.title }}</span>
					</td>
					<td>
					<span>{{ album.artist }}</span>
					</td>
					<td>
					<span>{{ album.genre }}</span>
					</td>
				</tr>
		</tbody>
	</table>
</div>
