<div class="content-wrapper">

 <div class="col-md-4 col-md-offset-4">
	<h1>Sign In</h1>

	<div class="alert alert-danger" *ngIf="messagesError">
		Login Failed!!
    <br />
    Invalid username and password!
    <br/>
	</div>

		<div class="form-group">
			<label for="email">Username</label>
      <input type="text" class="form-control" [(ngModel)]="account.username"/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="account.password"/>
		</div>
    <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
 </div>


</div>
