<div class="content-wrapper" *ngIf="token">
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Album Information - EDIT ALBUM</h3>
  </div>
            <!--
             <c:if test="${not empty errorMessage }">
             <div class="alert alert-danger">
        		 ${errorMessage}
    		 </div>
  			 </c:if>
       -->
            <!-- form start -->
  <div class="box-body">
     <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="album.title" placeholder="Enter title..."/>
      <label class="error-message" style="color: red" *ngIf="messagesError.title">{{messagesError.title}}</label>
     </div>

		 <div class="form-group">
        <label>Genre</label>
        <br/>
        <select #selectGenre (change)="setGenre(selectGenre.value)">
          <option *ngFor="let genre of genreList" [value]="genre.id" [selected]="genre.id == album.genre">
              {{genre.name}}
          </option>
        </select>

    	</div>
				<div class="form-group">
          <label>Artist</label>
          <br/>
          <select #selectArtist (change)="setArtist(selectArtist.value)">
            <option *ngFor="let artist of artistList" [value]="artist.id" [selected]="artist.id == album.artist">
                {{artist.name}}
            </option>
          </select>
      	 </div>

         <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" [(ngModel)]="album.priceString" placeholder="Enter price..."/>
            <label class="error-message" style="color: red" >{{messagesError.priceString}}</label>

          </div>

          <div class="form-group">
            <div *ngIf="imageSrc == null">
              <div *ngFor="let file of fileUploads | async">
                <div class="thumbnail">
                   	<img src="{{file}}" class="img-responsive upload"/>
                   </div>

            </div>
          </div>
            <div class="thumbnail" *ngIf="imageSrc != null">
               	<img id="previewImage" src="{{imageSrc}}" class="img-responsive upload"/>
               </div>

            <label class="btn btn-default">
            	<input type="file" (change)="selectFile($event)">
            </label>
          </div>
<!--
       <div class="form-group">
          <label>Image Url</label>
          <input type="text" class="form-control" [(ngModel)]="album.imageUrl" placeholder="Enter imageUrl..."/>
          <label class="error-message" style="color: red" *ngIf="messagesError.imageUrl">{{messagesError.imageUrl}}</label>

        </div>
      -->
        </div>

        <div class="box-footer">
          <button (click)="edit()" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>


 </div>
